<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/styles.css">
    
    <title>Portfolio</title>
  </head>
  <body>
      <div class="container">
        <div class="jumbotron text-center" >
          <div class="container">
            <h1> Welcome to Portfolio</h1>
          </div>
        </div>
        <div class="row">
            <nav class="col-sm-12 col-md-2 col-lg-2">
              
              <a class="nav-link" href="#1">White Flowers</a>
              <a class="nav-link" href="#2">Birds</a>
              <a class="nav-link" href="#3">Easter Eggs</a>
              <a class="nav-link" href="#4">Deep Sea Water</a>
              <a class="nav-link" href="#5">Relaxing Hat</a>
              <a class="nav-link" href="#6"> Mountains</a>
              <a class="nav-link" href="#7">Colorful Bird</a>
              <a class="nav-link" href="#8">Island</a>
              <a class="nav-link" href="#9">Snow Mountain</a>
              <a class="nav-link" href="#10">Winter Tree</a>
           
            </nav>
 
            
            <main class="col-sm-12 col-md-10 col-lg-10" >
                {{{body}}}
            </main>

        </div>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script> 
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> 
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/vendor.min.js"> </script>
  </body>
</html>