<div class="container-fluid">
    <div class="row ">
        <div class="col-sm-12 col-md-6 col-lg-4 py-1 ">
            <div class="card h-100" style="width: 16rem;" id="1">
                <div class="card-body">
                    <img class="card-img-top img-fluid" src="/public/images/images1.jpeg" 
                        alt="Card image cap">
                    <div class="card-block">
                        <h1 class="card-title"> White Flowers </h1>
                        <p class="card-text">Many flowering plants reflect as much light as possible within the range of
                            visible wavelengths </p>
                        <div class="card-block text-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal1">
                                Read More...
                            </button>
                            <div class="modal fade" id="modal1" tabindex="-1" role="dialog" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title" > White Flowers</h1>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Flowers that reflect the full range of visible light are generally perceived as white by a human observer. An important feature of white flowers is that they reflect equally across the visible spectrum. While many flowering plants use white to attract pollinators, the use of color is also widespread (even within the same species). 
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 py-1 ">
            <div class="card h-100" style="width: 16rem;" id="2">
                <div class="card-body">
                    <img class="card-img-top img-fluid" src="/public/images/2.jpeg" 
                        alt="Card image cap">
                    <div class="card-block">
                        <h1 class="card-title"> Birds </h1>
                        <p class="card-text">While some birds are essentially territorial or live in small family groups, other birds may form large flocks.
                        </p>
                        <div class="card-block text-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal2">
                                Read More...
                            </button>
                        </div>
                        <div class="modal fade" id="modal2" tabindex="-1" role="dialog"
                           aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" >Birds</h1>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        While some birds are essentially territorial or live in small family groups,
                                        other birds may
                                        form large flocks. The principal benefits of flocking are safety in numbers and
                                        increased
                                        foraging efficiency. Defence against predators is particularly important in
                                        closed habitats like
                                        forests, where ambush predation is common and multiple eyes can provide a
                                        valuable early warning
                                        system.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card h-100" style="width: 16rem;" id="3">
                <div class="card-body">
                    <img class="card-img-top img-fluid" src="/public/images/3.jpeg" 
                        alt="Card image cap">
                    <div class="card-block">
                        <h1 class="card-title"> Easter Eggs </h1>
                        <p class="card-text">An egg hunt is a game in which decorated eggs, which may be chicken eggs,
                            chocolate eggs containing candies, are hidden for children. </p>
                        <div class="card-block text-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal3">
                                Read More...
                            </button>
                            <div class="modal fade" id="modal3" tabindex="-1" role="dialog"
                                 aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title">Easter Eggs</h1>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            An egg hunt is a game in which decorated eggs, which may be hard-boiled
                                            chicken eggs, chocolate
                                            eggs, or artificial eggs containing candies, are hidden for children to
                                            find. The eggs often
                                            vary in size, and may be hidden both indoors and outdoors.When the hunt is
                                            over, prizes may be
                                            given for the largest number of eggs collected, or for the largest or the
                                            smallest egg. </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary"
                                                data-dismiss="modal">Close</button>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card h-100" style="width: 16rem;" id="4">
                <div class="card-body">
                    <img class="card-img-top img-fluid" src="/public/images/4.jpeg" 
                        alt="Card image cap">
                    <div class="card-block">
                        <h1 class="card-title"> Deep Sea Water </h1>
                        <p class="card-text">The sea is the interconnected system of all the Earth's oceanic waters,
                            including the Atlantic, Pacific, Indian, Southern and Arctic Oceans.</p>
                        <div class="card-block text-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal4">
                                Read More...
                            </button>
                        </div>
                        <div class="modal fade" id="modal4" tabindex="-1" role="dialog"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title">Deep Sea Water</h1>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        The sea is the interconnected system of all the Earth's oceanic waters,
                                        including the Atlantic,
                                        Pacific, Indian, Southern and Arctic Oceans.However, the word "sea" can also be
                                        used for many
                                        specific, much smaller bodies of seawater, such as the North Sea or the Red Sea.
                                        There is no
                                        sharp distinction between seas and oceans, though generally seas are smaller,
                                        and are often
                                        partly (as marginal seas) or wholly (as inland seas) bordered by land.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card h-100" style="width: 16rem;" id="5">
                <div class="card-body">
                    <img class="card-img-top img-fluid" src="/public/images/5.jpeg" 
                        alt="Card image cap">
                    <div class="card-block">
                        <h1 class="card-title"> Relaxing Hat </h1>
                        <p class="card-text">A hat is a head covering which is worn for
                            the card's content.</p>
                        <div class="card-block text-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal5">
                                Read More...
                            </button>
                        </div>
                        <div class="modal fade" id="modal5" tabindex="-1" role="dialog"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" > Relaxing Hat </h1>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                       A hat is a head covering which is worn for various reasons, including protection against weather conditions, ceremonial reasons such as university graduation, religious reasons, safety, or as a fashion accessory.

                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card h-100" style="width: 16rem;" id="6">
                <div class="card-body">
                    <img class="card-img-top img-fluid" src="/public/images/6.jpeg" 
                        alt="Card image cap">
                    <div class="card-block">
                        <h1 class="card-title"> Mountains </h1>
                        <p class="card-text"> A mountain is a large landform that rises above the surrounding land in a limited area </p>
                        <div class="card-block text-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal6">
                                Read More...
                            </button>
                        </div>
                        <div class="modal fade" id="modal6" tabindex="-1" role="dialog"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" >Mountains</h1>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                       A mountain is a large landform that rises above the surrounding land in a limited area, usually in the form of a peak. 
                                       High elevations on mountains produce colder climates than at sea level. These colder climates strongly affect the ecosystems of mountains: different elevations have different plants and animals.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card h-100" style="width: 16rem;" id="7">
                <div class="card-body">
                    <img class="card-img-top img-fluid" src="/public/images/7.jpeg" 
                        alt="Card image cap">
                    <div class="card-block">
                        <h1 class="card-title"> Colorful Bird </h1>
                        <p class="card-text">Fulvous is a colour, sometimes described as dull orange, brownish-yellow or tawny, </p>
                        <div class="card-block text-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal7">
                                Read More...
                            </button>
                        </div>
                        <div class="modal fade" id="modal7" tabindex="-1" role="dialog"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title">Colorful Bird </h1>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                       Fulvous is a colour, sometimes described as dull orange, brownish-yellow or tawny, it can also be likened to a variation of buff, beige or butterscotch. As an adjective it is used in the names of many species of birds, and occasionally other animals, to describe their appearance.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card h-100" style="width: 16rem;" id="8">
                <div class="card-body">
                    <img class="card-img-top img-fluid" src="/public/images/8.jpeg" 
                        alt="Card image cap">
                    <div class="card-block">
                        <h1 class="card-title"> Island </h1>
                        <p class="card-text">An island or isle is any piece of sub-continental land that is surrounded by water. Very small islands </p>
                        <div class="card-block text-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal8">
                                Read More...
                            </button>
                        </div>
                        <div class="modal fade" id="modal8" tabindex="-1" role="dialog"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title" > Island </h1>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        An island or isle is any piece of sub-continental land that is surrounded by water. Very small islands such as emergent land features on atolls can be called islets, skerries, cays or keys.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card h-100" style="width: 16rem;" id="9">
                <div class="card-body">
                    <img class="card-img-top img-fluid" src="/public/images/9.jpeg" 
                        alt="Card image cap">
                    <div class="card-block">
                        <h1 class="card-title"> Snow Mountain </h1>
                        <p class="card-text">The Snowy Mountains cover a variety of climatic regions which support several distinct ecosystems. The alpine area above </p>
                        <div class="card-block text-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal9">
                                Read More...
                            </button>
                        </div>
                        <div class="modal fade" id="modal9" tabindex="-1" role="dialog"
                            aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title">Snow Mountain</h1>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        The Snowy Mountains cover a variety of climatic regions which support several distinct ecosystems. The alpine area above the tree line is one of the most fragile and covers the smallest area. 
                                        This area is a patchwork of alpine heaths, herbfields, feldmarks, bogs and fens. 
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <div class="col-sm-12 col-md-6 col-lg-4 py-1">
            <div class="card h-100" style="width: 16rem;" id="10">
                <div class="card-body">
                    <img class="card-img-top img-fluid" src="/public/images/10.jpeg" 
                        alt="Card image cap">
                    <div class="card-block">
                        <h1 class="card-title"> Winter Tree </h1>
                        <p class="card-text">A snowflake consists of roughly 10^19 water molecules, which are added to its core at different rates and in different patterns,</p>
                        <div class="card-block text-center">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal10">
                                Read More...
                            </button>

                        </div>
                        <div class="modal fade" id="modal10" tabindex="-1" role="dialog"
                             aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title"> Winter Tree </h1>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                       A snowflake consists of roughly 1019 water molecules, which are added to its core at different rates and in different patterns, depending on the changing temperature and humidity within the atmosphere that the snowflake falls through on its way to the ground.
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary"
                                            data-dismiss="modal">Close</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>


    </div>
</div>